<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555247274556-h57d3e832mloka6o9jquug759o1o2d1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555247274556-h57d3e832mloka6o9jquug759o1o2d1k</string>
	<key>API_KEY</key>
	<string>AIzaSyBrGWZRbBHckHLrfvJkXrnuH9AUlDaNgR8</string>
	<key>GCM_SENDER_ID</key>
	<string>555247274556</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notfication</string>
	<key>PROJECT_ID</key>
	<string>simple-dc013</string>
	<key>STORAGE_BUCKET</key>
	<string>simple-dc013.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555247274556:ios:219e6426f6b879876c9139</string>
</dict>
</plist>